<ion-header>
  <ion-toolbar>
    <ion-title>Diet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  This is the diet Page 
  Was meant to show the diet part of the API But had an issue and couldnt fix it so went back to last available time it worked so sorry for lack of effort

  <ion-tabs> 
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']" tab="Exercises">
        Exercises
        <ion-icon name="recording"></ion-icon>
        <ion-label name="Exercises"></ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/diet']" tab="Diet">
        <ion-icon name="restaurant"></ion-icon>
        Diet
        <ion-label name="Diet"></ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/weight-tracker']" tab="Weight Tracker">
        <ion-icon name="podium"></ion-icon>
        Weight Tracker
        <ion-label name="Weight Tracker"></ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/records']" tab="Record">
        <ion-icon name="body"></ion-icon>
        Records
        <ion-label name="Record"></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
